---
// レイアウト
import Layout from "../layouts/Layout.astro";

//Component
import ButtonPrimary from "../components/ButtonPrimary.astro";
import Card from "../components/Card.astro";

//image
import { Image, Picture } from "astro:assets";
import photo from "../assets/img/no-img.jpg";

//WP
const res = await fetch("https://shibajuku.net/wp-json/wp/v2/posts");
const posts = await res.json();

// サーバー側の処理をかく
//HTMLに生成する前に実行されるものを書く
const pageTitle = "otan";
---

<Layout title={pageTitle} description="otanのサイト">
  <main>
    <div class="hero">
      <h1 class="hero__title">{pageTitle}</h1>
      <figure class="hero__figure">
        <Picture
          src={photo}
          alt="写真"
          loading="eager"
          formats={["avif", "webp"]}
          widths={[320, 640, 960, 1280]}
          sizes={"(max-width: 1023px) 100vw, 1920px"}
        />
      </figure>
    </div>
    {
      posts.map((post: any) => (
        <Card
          title={post.title.rendered}
          href={post.link}
          text={post.excerpt.rendered}
        />
      ))
    }

    <p>
      <ButtonPrimary href="/about/" data-test="wa"> aboutへ </ButtonPrimary>
    </p>
    <p>
      <ButtonPrimary href="/blog/"> ぶろぐへ </ButtonPrimary>
    </p>
    <p>
      <ButtonPrimary accent="true"> topへ </ButtonPrimary>
    </p>
  </main>

  <!-- <style is:global>  全ページに適用される -->
  <!-- h1 {
    font-size: 6rem;
  }
</style> -->

  <style lang="scss">
    // @use "../assets/scss/mixin" as *;  //外部ファイルからmixinを使う場合
    $main-color: rgb(136, 197, 244);
    /* スコープ */
    h1 {
      color: $main-color;
    }
    p {
      color: blue;
    }

    .hero {
      position: relative;
    }

    .hero__title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10rem;
    }

    .hero__figure {
    }
  </style>

  <script>
    console.log("Hello Astro!");
  </script>
</Layout>
